# Application Settings
PORT=8080

# Database Settings
POSTGRES_USER=appuser
POSTGRES_PASSWORD=YourAppUserPassword
POSTGRES_DB=booksonlinedb

DATABASE_URL=postgres://appuser:YourAppUserPassword@localhost:5432/booksonlinedb?sslmode=disable

# Admin Credentials for local development
ADMIN_USER=localadmin
ADMIN_PASS=localpassword