# Binaries
bin/
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum

# Environment variables
.env
.env.local

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo